@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html {
    display: grid;
    background: url('../img/background.png');
    color: oldlace;
    font-family: 'Roboto';
    text-align: center;
}
#about_model {
    align-self: center;
    width: 500px;
    height: 200px;
    margin: 0 auto;
    font-size: large;
}
h2 {
    font-size: 15px;
}
a {
    color: cyan;
    text-decoration: none;
}
#list {
    font-size: 25px;
    list-style-type: none;
}
footer {
    color: orange;
}
#specs {
    display: flex;
    align-content: center;
}
#list_item:hover {
    font-size: 30px;
}
strong {
    color: rgb(255, 0, 0);
}
